.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .contact-info p {
    margin: 10 0;
    flex-basis: 100%;
    text-align: center;
}

.footer .contact-info a {
    color: #00aaff;
    text-decoration: none;
}

.footer .contact-info a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .footer .contact-info p {
        flex-basis: 45%;
    }
}

@media (min-width: 900px) {
    .footer .contact-info p {
        flex-basis: 22%;
    }
}
